@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* border: 2px solid red */
}

:root {
  /* Light Mode */
  --transition-duration: 1s;
  --main-bg-color: #ECF0F3;
  --primary-text-color: #263041;
  --shadow-color: #9fa1a5;
  --special-color: #FCB00B;
  --box-shadow: 1px 2px 10px var(--shadow-color);
}

body.dark-mode {
  /* Dark Mode */
  --main-bg-color: #263041;
  --primary-text-color: #ECF0F3;
  --shadow-color: #fff;
  transition: background-color var(--transition-duration);
}

body {
  background: var(--main-bg-color);
  transition: background-color var(--transition-duration);
}

/* nav styling */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5% 15px 5%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
}

.nav .hero-logo {
  transition: 1s;
  cursor: pointer;
}

.nav .hero-logo:hover {
  transform: scale(1.2);
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--special-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav ul li:hover::after {
  width: 100%;
}

.nav ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.nav {
  top: 0;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .fa-toggle-off {
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.hamburger-menu {
  display: none;
}

#contact {
  width: 100%;
  padding: 50px 5% 0;
  top: 50px;
  position: relative;
  background-image: url(../img/pattern-ring1.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-attachment: fixed;
}

.col-form {
  width: 55%;
}

.col-contact {
  width: 40;
}

.contact-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.col-box {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.col-box span {
  color: var(--primary-text-color);
  font-weight: bold;
  display: inline-block;
}

.col-contact .col-box .fa {
  font-size: 20px;
  margin-right: 20px;
  color: var(--primary-text-color);
  padding: 10px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  width: 40px;
  text-align: center;
}

.col-contact .socials a {
  text-decoration: none;
}

/* Form */
form input {
  width: 100%;
  margin: 20px 1%;
  background: transparent;
  border: 0px;
  border-bottom: 3px solid var(--primary-text-color);
  padding: 8px 10px;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  color: var(--primary-text-color);
  font-weight: bold;
}

form input::placeholder {
  color: var(--primary-text-color);
}

form textarea::placeholder {
  color: var(--primary-text-color);
}

form textarea {
  width: 100%;
  margin: 20px 1%;
  padding: 8px 10px;
  border: 0px;
  border-bottom: 3px solid var(--primary-text-color);
  padding: 8px 10px;
  font-size: 18px;
  background: transparent;
  resize: none;
  transition: 0.4s ease-in-out;
  color: var(--primary-text-color);
  font-weight: bold;
}

form input:focus {
  outline: none;
  border-bottom: 3px solid var(--special-color);
}

form textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--special-color);
}

.socials .fa {
  font-size: 30px;
  transition: 1s;
  display: inline-flex;
  margin-top: 20px;
  margin-right: 10px;
  color: var(--primary-text-color);
  padding: 10px 12px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.socials .fa:hover {
  transform: scale(1.3);
}

.btn_one {
  background-color: var(--special-color);
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid var(--special-color);
  font-weight: bold;
  padding: 10px 100px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  width: 100%;
}

.btn_one:hover {
  box-shadow: none;
  cursor: pointer;
}

#footer {
  padding-top: 50px;
  width: 100%;
}

#footer p {
  color: var(--primary-text-color);
  font-size: 17px;
  text-align: center;
  line-height: 20px;
}

@media screen and (max-width: 760px) {
  body {
    height: 0;
  }

  .hamburger-menu {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 2;
  }

  .ham-bar {
    width: 70%;
    height: 4px;
    background-color: var(--special-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
  }

  .bar-top {
    top: 25%;
  }

  .bar-bottom {
    top: 75%;
  }

  .hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }

  .hamburger-menu.active .bar-mid {
    opacity: 0;
  }

  .hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }

  .nav-links ul li {
    display: block;
    padding-top: 10px;
  }

  .nav-links ul li a {
    font-size: 18px;
  }

  .nav-links {
    position: fixed;
    top: 73px;
    right: -100%;
    height: 360px;
    width: 100%;
    transition: right .5s;
    background: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    z-index: 2;
  }

  .nav-links ul {
    padding: 20px;
  }

  .nav-links.active {
    right: 0;
  }

  .nav {
    position: fixed;
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    top: 0;
  }

  #contact {
    padding: 0 5%;
    background-size: 100%;
    top: 0;
    margin: 0;
  }

  .col-box span {
    font-size: 12px;
  }

  .contact-col {
    flex-direction: column-reverse;
  }

  .col-form {
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 50px;
    width: 100%;
  }

  .col-contact {
    width: 100%;
  }

  .btn_one {
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  #footer {
    padding-bottom: 50px;
    padding-top: 0;
  }

  #footer p {
    font-size: 12px;
    width: 100%;
    line-height: 18px;
  }
}