@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* border: 2px solid red */
}

:root {
  /* Light Mode */
  --transition-duration: 1s;
  --main-bg-color: #ECF0F3;
  --primary-text-color: #263041;
  --shadow-color: #9fa1a5;
  --special-color: #FCB00B;
  --box-shadow: 1px 1px 5px var(--shadow-color);
}

body.dark-mode {
  /* Dark Mode */
  --main-bg-color: #263041;
  --primary-text-color: #ECF0F3;
  --shadow-color: #fff;
  transition: var(--transition-duration);
}

body {
  overflow-x: hidden;
  background: var(--main-bg-color);
  transition: background-color var(--transition-duration);
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-text-color);
  box-shadow: var(--box-shadow);
}

::-webkit-scrollbar-thumb {
  background: var(--special-color);
}

/* Create a star animation */
@keyframes twinkling {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Style the stars */
.star {
  position: absolute;
  background: #ECF0F3;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  animation: twinkling 3s infinite;
}


/* Create a shooting star animation */
@keyframes shootingStar {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px) translateY(200px) rotate(20deg);
  }
}

/* Style the shooting star */
.shooting-star {
  position: absolute;
  width: 5px;
  height: 10px;
  background: #ECF0F3;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0;
  animation: shootingStar 1s linear infinite;
}


/* nav styling */
#home {
  height: 100vh;
  width: 100%;
  background-image: url(../img/pattern-ring1.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-attachment: fixed;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5% 8px 5%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);

}

.nav .hero-logo {
  transition: 1s;
  cursor: pointer;
}

.nav .hero-logo:hover {
  transform: scale(1.2);
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--special-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav ul li:hover::after {
  width: 100%;
}

.nav ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  color: var(--primary-text-color);
  text-decoration: none;
  border: 2px solid var(--primary-text-color);
  font-weight: bold;
  padding: 13px 15px;
  border-radius: 10px;
  transition: 1s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--primary-text-color);
  transition: 0.5s;
  z-index: -1;
}

.btn:hover::before {
  left: 0;
}

.btn:hover {
  box-shadow: none;
  color: var(--main-bg-color);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle #toggle {
  font-size: 35px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.5s;
  color: var(--primary-text-color);
}

.hamburger-menu {
  display: none;
}

.hero-logo{
  width: 70px;
  background-color: #263041;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-logo img{
  width: 100%;
  border-radius: 100px;
}

/* header styling */
.content {
  margin-top: 100px;
  position: absolute;
  top: 15%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.content h1 {
  color: var(--special-color);
  margin: 20px 0px 20px;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Serif', serif;
}

.content h1>span {
  color: var(--primary-text-color);
  font-weight: 800;
  font-family: 'Roboto Serif', serif;
}

.content h3 {
  color: var(--primary-text-color);
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.content h3 span {
  font-size: 35px;
  color: var(--special-color);
}

.content h4 {
  color: var(--primary-text-color);
  letter-spacing: 2px;
  font-size: 20px;
}

.btn2 .fa {
  display: inline-block;
}

.btn2 {
  color: var(--primary-text-color);
  text-decoration: none;
  border: 2px solid var(--primary-text-color);
  font-weight: bold;
  padding: 13px 15px;
  border-radius: 10px;
  margin: 30px auto;
  display: none;
  transition: 1s;
  position: relative;
  overflow: hidden;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--primary-text-color);
  transition: 0.5s;
  z-index: -1;
}

.btn2:hover::before {
  left: 0;
}

.btn2:hover {
  box-shadow: none;
  color: var(--main-bg-color);
}

.content .socials .fa {
  font-size: 30px;
  transition: 1s;
  display: inline-flex;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  padding: 10px 12px;
  margin-right: 5px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.content .explore {
  margin-top: 30px;
}

.content .explore a {
  letter-spacing: 2px;
  font-size: 20px;
  border-bottom: 3px solid var(--special-color);
  transition: 0.3s;
  color: var(--primary-text-color);
  transition: 1s ease-in-out;
  padding-bottom: 5px;
}

.content .explore .fa {
  display: inline-block;
}

.content .explore a:hover {
  color: var(--special-color);
}

@keyframes rotateRightDownRight {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
}

.animated {
    animation: rotateRightDownRight 2s linear infinite;
}

.content .socials .fa:hover {
  transform: scale(1.2);
}

@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease;
  z-index: 999;
  opacity: 0.5;
  animation: shine 1s infinite;
}

#cursor-outline {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid var(--primary-text-color);
  box-shadow: 0 0 10px var(--special-color);
}

/* About Styling */
#about {
  width: 100%;
  padding: 100px 5% 20px 5%;
}

#about img {
  width: 90%;
  border-radius: 10px;
}

.img-sec {
  width: 35%;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
}

@keyframes tilt-animation {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.img-sec img {
  transition: transform 0.3s ease;
  animation: tilt-animation 3s infinite alternate;
}

.about-text {
  width: 60%;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text h2 {
  color: var(--primary-text-color);
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--special-color);
  display: inline-flex;
}

.about-text h5 {
  color: var(--primary-text-color);
  letter-spacing: 1px;
  font-size: 23px;
  margin-bottom: 18px;
  text-transform: capitalize;
}

.about-text p {
  color: var(--primary-text-color);
  letter-spacing: 1px;
  line-height: 28px;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 25px;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 1s;
}

button {
  background-color: transparent;
  border: 2px solid var(--primary-text-color);
  padding: 13px 15px;
  border-radius: 10px;
  transition: 1s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--primary-text-color);
  transition: 0.5s;
  z-index: -1;
}

button:hover::before {
  left: 0;
}

button:hover a{
  color: var(--main-bg-color);
}

/* Journey Styling */
#journey {
  width: 100%;
  padding: 100px 5% 50px;
  color: var(--primary-text-color);
  overflow-x: hidden;
}

.journey-heading {
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid var(--special-color);
  width: 260px;
}

.journey-subheading {
  font-size: 1.2rem;
  color: var(--special-color);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.journey-history-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journey-history-right{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.journey-history-left .journey-container{
  position: relative;
  width: 50%;
  border-right: 10px solid var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.journey-history-right .journey-container{
  position: relative;
  width: 51.5%;
  border-left: 10px solid var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.journey-history-left .journey-indicator{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--special-color);
  position: absolute;
  top: -2px;
  right: -30px;
}
.journey-history-right .journey-indicator{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--special-color);
  position: absolute;
  top: -2px;
  left: -30px;
}
.journey-history-right .journey-indicator-bottom{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--special-color);
  position: absolute;
  bottom: -40px;
  left: -30px;
}

.journey-title{
  width: 90%;
}

/* upAndDown movement of the img in journey-img */
@keyframes upAndDown {
  0%, 100% {
      transform: translateY(0); /* Start and end position */
  }
  50% {
      transform: translateY(-10px); /* Middle position (up) */
  }
}

.journey-img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journey-img img{
  width: 80%;
  animation: upAndDown 2s ease-in-out infinite;
}

.journey-history-left .journey-title > h1{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 2rem;
}

.journey-history-right .journey-title > h1{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 2rem;
}

.journey-card a:hover{
  color: var(--special-color);
}

.journey-history-left .journey-card{
  min-height: 180px;
  width: 90%;
  padding: 20px 25px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}

.journey-history-right .journey-card{
  min-height: 180px;
  width: 90%;
  padding: 20px 25px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

/* Service Styling */
#service {
  width: 100%;
  padding: 65px 5% 50px;
}

.title h2 {
  color: var(--primary-text-color);
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  border-bottom: 3px solid var(--special-color);
  width: 235px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 470px;
  width: 35%;
  padding: 20px 25px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: 1s;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(200deg, rgba(252, 176, 11, 0.8) 30%, rgba(0, 212, 255, 0.8) 100%);
  transition: height 0.5s ease-in;
  z-index: -1;
}

.card:hover::before {
  height: 100%;
}

.card:nth-child(2) {
  margin: 0 20px;
}

.card .fa {
  font-size: 40px;
  color: var(--primary-text-color);
  padding: 10px;
}

h5 {
  color: var(--primary-text-color);
  font-size: 25px;
  margin-bottom: 15px;
}

.pra p {
  color: var(--primary-text-color);
  line-height: 27px;
  margin-bottom: 25px;
}

.card .card-btn {
  margin-bottom: 20px;
}

/* Projects Styling */
#projects {
  padding: 90px 5% 50px;
  align-items: center;
  justify-content: space-between;
}

#projects h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid var(--special-color);
  width: 255px;
}

.project-subheading{
  font-size: 1.2rem;
  color: var(--special-color);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.project-col {
  border-radius: 10px;
  width: 50%;
  margin-bottom: 5px;
  padding: 20px;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.project-col:nth-child(1) {
  margin-right: 30px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.control button a {
  color: #263041;;
  transition: 1s;
}

.control button{
  border: 2px solid #263041;
}

.control button:hover{
  background-color: #263041;
}

.control button:hover a{
  color: #ECF0F3;
}

.project-col button {
  margin: 10px 0px 10px 10px;
  padding: 10px 15px;
}

.project-col img {
  width: 100%;
  border-radius: 10px;
}

.project-col .text {
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(90deg, rgba(252, 176, 11, 0.8) 30%, rgba(0, 212, 255, 0.8) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: auto 0;
  border-radius: 10px;
  transition: 1s;
}

.project-col:hover .text {
  cursor: pointer;
  left: 0;
}

.project-col .text h4 {
  color: #263041;
  font-size: 18px;
  padding: 0px 20px;
  margin-top: 10px;
  text-align: center;
}

.project-col .text h4:nth-child(1){
  font-size: 26px;
}

.project-col .text p {
  color: #263041;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
}

.project-col .text .stacks {
  margin-top: 0;
  color: #263041;
}

/* Skill Set */
.skillset {
  padding: 90px 5% 50px;
}

.set-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.skillset h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid var(--special-color);
  width: 190px;
}

.skillset p {
  font-size: 1.2rem;
  color: var(--special-color);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}

.skillsetcontent {
  width: 32%;
}

.skillset .langbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 10px;
}

.skillset .langbox i {
  font-size: 50px;
  color: var(--special-color);
  text-align: center;
}

.langbox h1 {
  font-size: 24px;
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 10px;
  margin-top: 50px;
}

.langbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

/* -------------testimonials---------- */
.testimonials {
  text-align: center;
  padding: 100px 5% 30px;
  width: 100%;
  background-image: url(../img/pattern-ring2.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-attachment: fixed;
}

.testimonials h2 {
  font-size: 40px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid var(--special-color);
  width: 430px;
}

.testimonials .says-subheading {
  font-size: 1.2rem;
  color: var(--special-color);
  letter-spacing: 1px;
  margin-top: 5px;
}

.testimonials .row {
  width: 100%;
  margin: 20px 0;
}

.testimonial-col {
  width: 49%;
  border-radius: 10px;
  text-align: left;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.testimonial-col::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(150deg, rgba(252, 176, 11, 0.8) 30%, rgba(0, 212, 255, 0.8) 100%);
  transition: width 0.5s ease-in;
  z-index: -1;
}

.testimonial-col:hover::before {
  width: 100%;
}

.testimonial-col:hover {
  box-shadow: none;
}


.testimonial-col img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
  text-align: justify;
  color: var(--primary-text-color);
  transition: 0.4s;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
  color: var(--primary-text-color);
  transition: 0.4s;
}

.testimonial-col .fa {
  color: var(--primary-text-color);
  transition: 0.4s;
}

.testimonials h4 {
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: none;
}

.testimonials .hire button {
  margin-bottom: 80px;
  cursor: pointer;
}

.arrow-up .fa {
  font-size: 40px;
  margin-bottom: 30px;
  padding: 8px 12px;
  border-radius: 100%;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  transition: 0.5 ease;
  animation: beat 2s infinite;
}

.arrow-up .fa:hover {
  transform: scale(1.2);
}

/* Footer Styling */
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--primary-text-color);
  font-size: 17px;
  width: 800px;
  text-align: center;
  line-height: 26px;
}

.foot-enquires .fa {
  color: var(--special-color);
}

.end {
  color: var(--primary-text-color);
  font-size: 14px;
  margin-bottom: 15px;
}

/* back to top styling */
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  font-size: 30px;
  padding: 6px 12px;
  border-radius: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  animation: beat 2s infinite;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* ------------Media Query------------- */
@media screen and (max-width: 1211px) {
  .nav ul li {
    padding: 10px 3px;
  }

  .card {
    width: 35%;
    padding: 20px 10px;
    height: 520px;
  }

  .nav .fa-toggle-off {
    margin-right: 5px;
  }
}

@media screen and (max-width: 1021px) {
  .nav ul li a {
    font-size: 14px;
  }

  .about-text h2 {
    margin-bottom: 10px;
  }

  .about-text h5 {
    letter-spacing: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .about-text p {
    letter-spacing: 0;
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .pra p {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .card .card-btn {
    margin-bottom: 10px;
  }

  .testimonial-col p {
    font-size: 14px;
  }

  .testimonial-col h3 {
    margin-top: 10px;
  }
}

/* Mobile View */
@media screen and (max-width: 885px) {
  #home {
    height: 100vh;
    width: 100%;
    background-size: 100%;
  }

  .hero-logo{
    width: 50px;
  }
  
  .hamburger-menu {
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 2;
  }

  .ham-bar {
    width: 71%;
    height: 4px;
    background-color: var(--special-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
  }

  .bar-top {
    top: 25%;
  }

  .bar-bottom {
    top: 75%;
  }

  .hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }

  .hamburger-menu.active .bar-mid {
    opacity: 0;
  }

  .hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }

  .nav-links ul li {
    display: block;
    padding: 10px 0;
  }

  .nav-links ul li a {
    font-size: 18px;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    height: 360px;
    width: 100%;
    transition: right .5s;
    background: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    z-index: 1;
  }

  .nav-links ul {
    padding: 20px;
  }

  .nav-links.active {
    right: 0;
  }

  .nav {
    position: fixed;
    top: 0;
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
  }

  .btn {
    display: none;
  }

  .btn2 {
    display: block;
    padding: 15px 15px;
    width: 250px;
    text-align: center;
  }

  .toggle #toggle{
    font-size: 40px;
  }
  
  .content {
    margin-top: 40px;
    top: 15%;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h1 span {
    font-size: 28px;
  }

  .content h4 {
    font-size: 18px;
  }

  .content h3 {
    font-size: 28px;
  }

  .content h3 span {
    font-size: 28px;
  }
  .main {
    flex-direction: column;
  }

  #about img {
    width: 95%;
  }

  .img-sec {
    width: 100%;
  }

  .about-text {
    width: 100%;
  }

  .about-text h2 {
    font-size: 40px;
    width: 190px;
    margin: 20px auto;
    text-align: center;
    display: flex;
  }

  .about-text h5 {
    font-size: 20px;
    text-align: center;
  }

  .about-text p {
    font-size: 16px;
    margin: 10px 0;
    letter-spacing: 0;
  }

  button {
    margin: 20px auto;
    display: flex;
  }

  /* Journey */
  .journey-history-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .journey-history-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .journey-history-left .journey-container{
    border-right: none;
  }
  
  .journey-history-right .journey-container, .journey-history-left .journey-container{
    position: relative;
    width: 100%;
    border-left: 9px solid var(--primary-text-color);
    text-align: left;
  }
  
  .journey-history-right .journey-indicator,  .journey-history-left .journey-indicator{
    top: -2px;
    left: -25px;
    width: 40px;
    height: 40px;
  }

  .journey-history-right .journey-indicator-bottom{
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: -25px;
  }
  
  .journey-title{
    width: 90%;
  }
  
  .journey-img{
    display: none;
  }
  
  .journey-history-left .journey-title > h1,   .journey-history-right .journey-title > h1{
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-left: 6px;
  }
  
  .journey-history-left .journey-card,  .journey-history-right .journey-card{
    margin: 15px 0;
    align-items: start;
    width: 95%;
    margin-left: 20px;
  }

  /* Services */
  #service {
    padding: 50px 5% 0;
  }

  .title h2 {
    display: flex;
    font-size: 40px;
  }

  .box {
    flex-direction: column;
  }
  .card button{
    margin: 0;
  }

  .card {
    height: 470px;
    width: 100%;
  }

  .card:nth-child(2) {
    margin: 20px 0;
  }

  h5 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .pra p {
    line-height: 28px;
  }

  /* My projects */
  #projects {
    padding: 100px 5% 0;
  }

  #projects h2 {
    font-size: 40px;
  }

  #projects h3 {
    font-size: 1.2rem;
  }

  .row {
    flex-direction: column;
    margin: 20px 0;
  }

  .project-col {
    width: 100%;
    height: 400px;
    padding: 10px;
  }

  .project-col img{
    height: 100%;
  }

  .project-col:first-child {
    margin-bottom: 25px;
  }

  .project-col .text h4 {
    font-size: 16px;
    padding: 0px 20px;
    margin-top: 5px;
  }

  .project-col .text p {
    font-size: 15px;
    padding-top: 5px;
  }

  .project-col button {
    padding: 6px 10px;
  }

  /* Skill Set */
  .skillset {
    padding: 100px 5% 0;
  }

  .skillset i {
    font-size: 40px;
  }

  .langbox h1 {
    font-size: 14px;
    margin-top: 30px;
  }

  .langbox {
    height: 150px;
    margin-bottom: 20px;
  }

  /* Testimonials */
  .testimonials {
    padding: 100px 5% 0;
    background-size: 100%;
  }

  .testimonials h2 {
    width: 300px;
  }

  .testimonials h3 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .testimonial-col {
    width: 100%;
    margin-bottom: 20px;
  }

  .testimonials .hire button {
    margin: 40px auto;
    text-align: center;
  }

  .testimonials .hire button a {
    text-align: center;
  }

  /* Footer */
  footer {
    width: 100%;
    padding: 0 5%;
  }

  footer p {
    font-size: 14px;
    width: 100%;
  }

  .arrow-up .fa {
    margin-top: 50px;
  }

/* back to top styling */
.back-top-btn {
  bottom: 30px;
  right: 8px;
  font-size: 20px;
  padding: 5px 10px;
}
}

@media screen and (max-width: 500px) {
  [data-aos] {
    /* Disable AOS animations for screens less than 768 pixels wide */
    opacity: 1 !important;
    transform: none !important;
  }

  .testimonial-col:hover {
    box-shadow: var(--box-shadow);
  }

  .cursor{
    display: none;
  }

  .card button:hover a{
    color: var(--primary-text-color)
  }

  .project-col {
    width: 100%;
    height: 250px;
    padding: 10px;
  }
}


/* Loader Styling*/
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: 20;
}

.loader {
  display: inline-block;
  animation: spin 2s linear infinite;
  padding: 0 0.5rem;
  border-radius: 100%;
  background-color: #263041;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}