@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(265deg, #05073a, #961f17);
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  width: 80px;
  height: 60px;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}
.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

#contact {
  margin: 50px 100px;
}
.contact-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
.col-box {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.col-box span {
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

.col-contact .col-box .fa{
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}

.col-contact .socials a{
  text-decoration: none;
}
.col-contact .socials .fa{
  font-size: 30px;
  transition: 0.3s;
  margin: 10px;
  color: #fff;
  text-decoration: none;
}

.col-contact .socials .fa:hover{
  transform: scale(1.3);
}

/* Form */
form input {
  width: 100%;
  margin: 20px 1%;
  background: transparent;
  border: 0px;
  border-bottom: 3px solid #808080;
  padding: 8px 10px;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  color: white;
  font-weight: bold;
}
form input::placeholder {
  color: white;
}
form textarea::placeholder {
  color: white;
}
form textarea {
  width: 100%;
  margin: 20px 1%;
  padding: 8px 10px;
  border: 0px;
  border-bottom: 3px solid #808080;
  padding: 8px 10px;
  font-size: 18px;
  background: transparent;
  resize: none;
  transition: 0.4s ease-in-out;
  color: white;
  font-weight: bold;
}
form input:focus {
  outline: none;
  border-bottom: 3px solid #fff;
}
form textarea:focus {
  outline: none;
  border-bottom: 3px solid #fff;
}
.socials .fa{
  font-size: 30px;
  transition: 0.3s;
  display:inline-flex;
  margin: 20px 10px;
}

.socials .fa:hover{
  transform: scale(1.3);
}
.btn_one {
  background-color: firebrick;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 100px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 2px 2px 1px 1px #fff;
  margin-bottom: 20px;
}

.btn_one:hover {
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}
#footer p {
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 26px;
}
@media screen and (max-width: 760px) {
  body{
    height: 100%;
  }
  .logo {
    width: 40px;
    height: 30px;
  }
  .hamburger-menu{
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 2;
  }
  
  .ham-bar{
    width: 70%;
    height: 4px;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;  
  }
  
  .bar-top{
    top: 25%;
  }
  .bar-bottom{
    top: 75%;
  }
  .hamburger-menu.active .bar-top{
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }
  .hamburger-menu.active .bar-mid{
    opacity: 0;
  }
  .hamburger-menu.active .bar-bottom{
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links{
    position:fixed;
    top: 0;
    right: -75%;
    height: 100vh;
    width: 55%;
    transition: right .5s;
    background: firebrick;
    text-align: left;
    z-index: 2;
  }
   .nav-links ul {
      padding: 50px 20px;
    }
  
  .nav-links.active{
    right: 0;
  }
  #contact {
    margin: 0px 50px;
  }
  .col-box span {
    font-size: 12px;
  }
  .contact-col {
    flex-direction: column-reverse;
  }
  .col-form {
    padding: 0px;
    margin-bottom: 30px;
  }

  .btn_one {
    width: 300px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  #footer p {
    font-size: 13px;
    line-height: 13px;
    padding: 30px 0px;
  }
}