@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* nav styling */
#home{
    padding-top: 6px;
    height: 13vh;
    width: 100%;
    background: linear-gradient(265deg, #dc0906ca, #05073a);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 4%;
    padding-right: 4%;
}

.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: firebrick;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: firebrick;
    transition: .4s;
}

.btn{
    background-color: #05073a;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}


/* Contact-Me-Styling */
#contact {
    width: 100%;
	margin: auto;
	padding-bottom: 20px;
	height: 500px;
    background: linear-gradient(265deg, #05073a, #dc0906ca);
}
#contact h1 {
    padding-top: 25px;
    border-bottom:4px solid #05073a;
    color: white;
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#contact table tr td img{
    width: 25px;
    height: 25px;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    color: white;
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color: white;
    font-weight:bold;
}
#contact form input::placeholder{
    color: white;
}
#contact form textarea::placeholder{
    color: white;
}

#contact form textarea{
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color: white;
    font-weight:bold;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}

.social img{
    width: 30px;
    height: 30px;
    margin:20px 10px;
}
.social img:hover { 
    cursor: pointer;
    transform: scale(1.3);
    transition: .3s;
}

.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 44, 90);
    background:#fff;
    border:3px solid rgb(255, 44, 90);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(255, 44, 90, 0.8);
    cursor:pointer;
    color:#fff;
    background:rgb(255, 44, 90);
}

/* Footer Styling */
footer {
	width: 100%;
	height: 100%;
    background: linear-gradient(265deg, #05073a, #dc0906ca);
    align-items: center;
}

.copyright p{
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}