*{
    box-sizing: border-box;
    font-family:'Josefin Sans' Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /* scroll-behavior: smooth; */
}
/* nav styling */
#home{
    height: 100vh;
    width: 100%;
    background-color: #b7b8d6;
    background-image: url(img/DSC_0707\ copy.jpg);
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: firebrick;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.nav ul li a:hover{
    color: firebrick;
    transition: .4s;
}

.btn{
    background-color: firebrick;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

/* header styling */
.content{
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: firebrick;
    margin: 20px 0px 20px;
    font-size: 50px
}

h1 > span{
    color: goldenrod;
}

h3{
    color: #05073a;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #05073a;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 13px 12px 13px 14px;
    border: 2px solid firebrick;
    outline: none;
    border-radius: 25px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background: linear-gradient(135deg, #05073a, #dc0906ca);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px opx 15px #858585;
    top: 6px;
    right: 6px;
}

/* About Styling */
#about{
    width: 100%;
    padding: 100px 0px;
    background: linear-gradient(135deg, #dc0906ca, #05073a);
}

#about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 span{
    color: #05073a;
}

.about-text p{
    color: burlywood;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: firebrick;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid firebrick;
}

/* Service Styling */
#service{
    background: linear-gradient(135deg, #05073a, #dc0906ca);
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 900px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.cardimg{
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #05073a, #dc0906ca);
}

.card{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background: linear-gradient(135deg, #dc0906ca, #05073a);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfcfc;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: firebrick;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid firebrick;
    cursor: pointer;
}

/* Projects Styling */
#projects{
    width: 100%;
    padding: 100px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
    background: linear-gradient(135deg, #05073a, #dc0906ca);
}

#projects h3{
    font-size: 70px;
    margin: 30px auto;
    text-transform:uppercase;
    letter-spacing: 2px;
    color: #fff;
}
#projects p{
	font-size:1.2rem;
	padding: 10px;
    color: #fff;
    letter-spacing: 2px;
}

.work{
	display: flex; 
	flex: 1;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
	padding: 20px;
}

.cardpng{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 200px;
	height:250px;
	border-radius:12px;
    background:#dc0906ca;
}

.cardpng img{
	width: 100%;
	height:70%;
	border-radius:10px 10px 0px 0px;
}

.cardpng .work-content{
	text-align: center;
	padding: 10px 5px;
    margin-top: 15px;
	font-size: 1rem;
    letter-spacing: 3px;
	color: #fff;
	cursor: pointer;
}

.cardpng a{
	text-decoration: none;
}

.cardpng .work-content:hover{
    color:#202020;
}

.cardpng:hover{
	box-shadow: 0 0 1.5rem gray;
}
/* Contact Me Styling */
.contact-me{
    width:100%;
    height: 500px;
    background: linear-gradient(135deg, #dc0906ca, #05073a);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact-me .button-two{
    background-color: firebrick;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid firebrick;
    cursor: pointer;
}

/* Footer Styling */
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(360deg, #05073a,  #dc0906ca);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.socials a{
    text-decoration: none;
}

.socials a img{
    width: 25px;
    height: 25px;
    margin: 20px 10px;
}

.socials a img:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #fff;
    bottom: 35px;
    font-size: 14px;
}