@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(260deg, #05073a, #961f17, #05073a);
}
/* nav styling */
#home {
  height: 100vh;
  width: 100%;
  background-color: #b7b8d6;
  background-image: linear-gradient(rgba(4, 9, 30, 0.226), rgba(4, 9, 30, 0.253)), url(img/DSC_0707\ copy.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 8%;
}
.nav .logo {
  cursor: pointer;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    transition: 1s;
    display:inline-flex;
}
.nav .logo:hover{
  transform: scale(1.2);
}
.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}
.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  background-color:#ae0900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  transition: transform 1s;
  box-shadow: 2px 2px 1px 1px #fff;
}

.btn:hover {
  transform: scale(1.2);
}
nav .fa {
  display: none;
}

/* header styling */
.content {
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content h1 {
  color: #ae0900;
  margin: 20px 0px 20px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #fff;
  font-weight: bolder;
}

.content h1 > span {
  color: #05073a;
}

.content h3 {
  color: #05073a;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #fff;
}
.content h3 span{
  font-size: 35px;
  color: #ae0900;
}
.content h4 {
  color: #05073a;
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: 1px 1px 2px #fff;
}
.btn2 {
  background-color: #ae0900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #fff;
  display: none;
}

.btn2:hover {
  background-color: transparent;
  border: 2px solid #fff;
  transition: 1s;
}

.content .socials .fa{
  font-size: 30px;
  transition: 0.3s;
  display:inline-flex;
}

.content .arrow-down .fa{
  display:inline-flex;
  font-size: 40px;
  margin-top: 90px;
  transition: 0.3s;
}
.content .arrow-down .fa:hover{
  transform: scale(1.3);
  transition: 1s;
}
.content .socials .fa:hover{
  transform: scale(1.3);
  transition: 1s;
}

/* About Styling */
#about {
  width: 100%;
  padding: 50px 0px;
}

#about img {
  height: auto;
  width: 430px;
  border-radius: 10px;
  position: relative;
}
.img-sec{
  position: relative;
  visibility: hidden;
}
.line-design{
  border: 10px solid #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  right: 25px;
  z-index: -1;
  border-top: none;
  border-right: none;
}

.about-text {
  width: 550px;
  visibility: hidden;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fff;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 45px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

button {
  background-color: #ae0900;
  border: 2px solid transparent;
  padding: 13px 30px;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 2px 2px 1px 1px #fff;
}

button:hover {
  background-color: transparent;
  border: 2px solid #fff;
}

/* Service Styling */
#service {
  width: 100%;
  padding: 100px 0px;
}
.title{
  visibility: hidden;
}
.title h2 {
  color: white;
  font-size: 75px;
  width: 900px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 450px;
  width: 335px;
  padding: 20px 35px;
  box-shadow: 1px 1px 4px 4px #fff;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  visibility: hidden;
}
.card .fa{
  font-size: 40px;
  color: #fff;
  padding: 10px;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfcfc;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background-color: #ae0900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 22px;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 2px 2px 1px 1px #fff;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

/* Projects Styling */
#projects {
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
}

#projects h2 {
  font-size: 70px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  visibility: hidden;
}
#projects h3 {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: none;
  visibility: hidden;
}
.row {
  display: flex;
  justify-content: center;
}
.project-col {
  flex-basis: 31%;
  border-radius: 10px;
  width: 70%;
  margin: 30px;
  box-shadow: 1px 1px 4px 4px #fff;
  transition: transform 1s;
  visibility: hidden;
}
.project-col button {
  margin: 10px 0px 10px 10px;
  padding: 13px 25px;
}
.project-col:hover {
cursor: pointer;
  transform: scale(1.1);
}
.project-col img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.project-col .text {
  font-size: 17px;
  text-align: left;
}

.project-col .text h4 {
  color: #fff;
  font-size: 18px;
  padding: 0px 20px;
  margin-top: 10px;
  text-align: center;
}
.project-col .text p {
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
}
.project-col .text .stacks{
  margin-top: 0;
  color: #fff;
}
/* Skill Set */
.skillset{
  padding: 50px 100px;
}
.set-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skillset h2 {
  font-size: 70px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  visibility: hidden;
}
.skillset h3 {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  visibility: hidden;
}
.skillset .langbox{
  width: 100%;
  cursor: pointer;
}
.skillset .langbox:hover i {
  transform: scale(1.5);
}
.skillset i{
  font-size: 50px;
  color: #fff;
  text-align: center;
  transition: transform 0.4s;
  transition: 1s;
}
.langbox h1{
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.langbox hr{
  margin-top: 5px;
}
.langbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  visibility: hidden;
}

/* -------------testimonials---------- */
.testimonials {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.testimonials h2 {
  font-size: 70px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  visibility: hidden;
}
.testimonials h3 {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: none;
  margin-top: 10px;
  visibility: hidden;
}
.testimonials .row {
  margin: 0px 100px;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  box-shadow: 1px 1px 4px 4px #fff;
  padding: 15px;
  display: flex;
  margin: 50px 20px 100px;
  transition: 1s;
  visibility: hidden;
}
.testimonial-col:hover{
    background: #fff3f3;
    box-shadow: none;
    cursor: pointer
}
.testimonial-col:hover p{
color: #000;
}
.testimonial-col:hover h3{
    color: #05073a;
  }
  .testimonial-col:hover .fa{
    color: #ae0900;
  }
.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
  text-align: justify;
  color: #fff;
  transition: 0.4s;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
  color: #fff;
  transition: 0.4s;
}
.testimonial-col .fa {
  color: #fff;
  transition: 0.4s;
}
.testimonials h4 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: none;
}
.testimonials .hire{
  visibility: hidden;
}
.testimonials .hire button {
  background-color: #ae0900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 2px 2px 1px 1px #fff;
  margin-bottom: 100px;
}
.testimonials .hire button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

/* Footer Styling */
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arrow-up{
  visibility: hidden;
}
.arrow-up .fa{
  font-size: 40px;
  margin-bottom: 30px;
}
.arrow-up .fa:hover {
  transform: scale(1.3);
  transition: 1s;
}
footer p {
  color: white;
  font-size: 17px;
  width: 800px;
  text-align: center;
  line-height: 26px;
}
.foot-enquires{
  visibility: hidden;
}
.socials .fa {
  font-size: 30px;
  margin: 15px 10px;
}

.socials .fa:hover {
  transform: scale(1.3);
  transition: 1s;
}

.end {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}

/* ------------Media Query------------- */
@media screen and (max-width: 1300px) {
  .logo {
    width: 70px;
    height: 50px;
  }
  h1 {
    font-size: 40px;
    overflow: hidden;
  }
  h4 {
    font-size: 24px;
  }
  .btn2 {
    padding: 15px 30px;
    width: 200px;
    text-align: center;
  }
  .nav ul li {
    padding: 10px 5px;
    font-size: 8px;
  }
  .btn {
    display: none;
  }
  .btn2 {
    display: block;
  }
  .btn2 {
    padding: 15px 30px;
    width: 300px;
    text-align: center;
  }
  /* About */
  .main {
    overflow: hidden;
  }
  #about img {
    height: auto;
    width: 280px;
    overflow: hidden;
    left: 20px;
    margin-right: 40px;
  }
  .line-design{
    width: 85%;
    bottom: -15px;
    right: 45px;
  }

  .about-text {
    width: auto;
  }
  .about-text h2 {
    font-size: 60px;
  }
  button {
    margin-bottom: 50px;
  }
  /* Services */
  .box {
    overflow: hidden;
  }
  .card {
    height: 400px;
    width: 300px;
    padding: 10px 10px;
  }
  .title h2 {
    font-size: 60px;
    width: auto;
  }

  h5 {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .pra p {
    line-height: 20px;
  }
  /* Projects */
  #projects {
    padding: 50px 20px;
  }
  .row {
    overflow: hidden;
  }

  #projects h2 {
    font-size: 60px;
  }
  #projects h3 {
    font-size: 1rem;
  }
  .project-col {
    width: 90%;
    margin: 30px 10px;
  }
    .project-col button {
    margin: 10px 0px 10px 10px;
    padding: 12px 18px;
  }

  /* Testimonials */
  .testimonials h2 {
    font-size: 60px;
  }
  .testimonials h3 {
    font-size: 18px;
  }
  .testimonials .row {
    margin: 0px;
    overflow: hidden;
  }
  .testimonial-col {
    margin: 50px 20px 50px;
    overflow: hidden;
  }
  .testimonial-col p {
    padding: 0;
    font-size: 14px;
  }

  .testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
    margin-bottom: 15px;
  }
}
/* Mobile View */
@media screen and (max-width: 750px) {
  #home {
    height: 100vh;
    width: 100%;
    background-color: #c8c8d4;
    background-image:url(img/mobile2\ \(1\).jpg);
    background-image: linear-gradient(rgba(4, 9, 30, 0.226), rgba(4, 9, 30, 0.253)), url(img/mobile2\ \(1\).jpg);
    background-size: cover;
    background-position: center;
  }

  .hamburger-menu{
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 2;
  }
  
  .ham-bar{
    width: 70%;
    height: 4px;
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;  
  }
  
  .bar-top{
    top: 25%;
  }
  .bar-bottom{
    top: 75%;
  }
  .hamburger-menu.active .bar-top{
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }
  .hamburger-menu.active .bar-mid{
    opacity: 0;
  }
  .hamburger-menu.active .bar-bottom{
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
  .nav-links ul li {
    display: block;
    padding: 20px 0;
  }
  .nav-links{
    position:fixed;
    top: 0;
    right: -75%;
    height: 100vh;
    width: 55%;
    transition: right .5s;
    background: #541427;
    text-align: left;
    z-index: 2;
  }
   .nav-links ul {
      padding: 50px 20px;
    }
  
  .nav-links.active{
    right: 0;
  }
.nav {
  position: fixed;
  z-index: 2;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
.nav.scrolled{
  background-color: #541427;
  /* background-color: #541427; */
  box-shadow: 1px 1px 2px 2px #fff;
}
  .btn {
    display: none;
  }
  .btn2 {
    display: block;
  }
  .content {
    margin-top: 80px;
  }
  .content h1 {
    font-size: 30px;
  }
  .content h1 > span{
    color: #fff;
    text-shadow: 1px 1px 2px #ae0900;
  }
  .content h4 {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 2px #05073a;
  }
  .content h3 {
    font-size: 28px;
  }
  .content h3 span{
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 2px #ae0900;
  }
  .btn2 {
    padding: 15px 15px;
    width: 200px;
    text-align: center;
  }
  .main {
    flex-direction: column;
    overflow: hidden;
  }
  #about img {
    height: auto;
    width: 280px;
    overflow: hidden;
    left: 30px;
  }
  .line-design{
    width: 90%;
    bottom: -20px;
    right: 25px;
  }
  .about-text h2 {
    font-size: 45px;
    margin: 30px 20px 10px 20px;
  }

  .about-text h5 {
    font-size: 20px;
    margin: 0px 20px 20px 20px;
  }

  .about-text p {
    font-size: 16px;
    margin: 0px 20px 45px 20px;
    letter-spacing: 0;
  }
  button {
    margin: 0px 10px 10px 20px;
  }
  /* Services */
  #service {
    padding: 50px 0px;
  }
  .title h2 {
    font-size: 45px;
    width: 300px;
    margin-top: 0px;
  }

  .box {
    flex-direction: column;
    overflow: hidden;
  }
  .card {
    height: 450px;
    width: 300px;
  }
  h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .pra p {
    line-height: 28px;
  }

  /* My projects */
  #projects {
    padding: 20px 0px;
  }
  #projects h2 {
    font-size: 45px;
  }
  #projects h3 {
    font-size: 1.2rem;
  }
  .row {
    flex-direction: column;
    overflow: hidden;
  }
  .project-col {
    width: 80%;
    margin: 30px auto;
  }

/* Skill Set */
.skillset{
  padding: 50px 20px;
}
.skillset h2 {
  font-size: 45px;
}
.skillset p {
  margin-bottom: 50px;
}
.skillset i{
  font-size: 40px;
}
.langbox h1{
  font-size: 16px;
}

  /* Testimonials */
  .testimonials h2 {
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 20px;
  }
  .testimonials h3 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .testimonials .row {
    overflow: hidden;
    margin: 0px;
  }
  .testimonial-col {
    margin: 50px 20px 10px 20px;
    overflow: hidden;
  }
  .testimonial-col p {
    font-size: 14px;
  }
  .testimonials h4 {
    font-size: 30px;
    margin-top: 30px;
    padding: 0 20px;
  }

  .testimonials .hire button {
    margin-bottom: 50px;
    width: 200px;
    margin: 10px 50px 50px;
  } 

  /* Footer */
  footer p {
    font-size: 14px;
    width: 300px;
  }

  .arrow-up .fa{
    margin-top: 50px;
  }
}
